#fundo{
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}
#fundo2{
    background-image: url('fundo2.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}
.table {
    width: 430px;
    padding: 50%;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: auto;           
}

.box{
    display: flex;            
    margin-top: 10%;
    
}
.box div{            
    width:40%;
   
    height: 40%;
}
.btn{
    width: 50%;
    margin-top: 30%;
    margin-block-end: 3%;
    margin-left: 25%;
    
}
.btnLista{
    width: 30%;
    margin-top: 0%;
    margin-left: 40%;
    
}
.titulo{
    width: 100%;
    margin-top: 5%;
    margin-left: 0%;
    color: red;
    font-weight: bold;
    text-align: left;
    font-size: clamp(0.0em, 1em + 1vw, 3em);
}
.titulo2{
    width: 100%;         
    margin-left: 0%;
    font-weight: bold;
    text-align: center;
    color: red;
    font-size: clamp(0.2em, 1em + 1vw, 3em);
}
.texto{
    width: 80%;            
    margin-left: 0%;
    font-weight: bold;
    text-align: left;
    font-size: clamp(0.2em, 1em + 1vw, 1.5em);
    
}
.texto2{
    width: 100%;            
    margin-left: 15%;
    font-weight: bold;
    text-align: left;
    font-size: clamp(0.2em, 1em + 1vw, 2em);
    
}
.texto3{
    width: 100%;            
    margin-left: 0%;
    margin-top: 10%;
    font-weight: bold;
    text-align: center;
    font-size: clamp(0.2em, 1em + 1vw, 2em);
    
}
