#fundo{
    background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
  }


  .box{
    display: flex;            
    margin-top: 10%;
    
}
.box div{            
    width:40%;
    left: 30%;
}
.btn{
    width: 50%;
    margin-top: 30%;
    margin-block-end: 3%;
    margin-left: 25%;
    
}
.titulo{
    width: 100%;
    margin-top: 5%;
    margin-left: 0%;
    color: red;
    font-weight: bold;
    text-align: left;
}
.titulo2{
    width: 100%;         
    margin-left: 0%;
    font-weight: bold;
    text-align: center;
    color: red;
}
.texto{
    width: 80%;            
    margin-left: 0%;
    font-weight: bold;
    text-align: left;
    
}
.texto2{
    width: 100%;            
    margin-left: 15%;
    font-weight: bold;
    text-align: left;
    
}
.texto3{
    width: 100%;            
    margin-left: 0%;
    margin-top: 10%;
    font-weight: bold;
    text-align: center;
    
}